/* Remove dark-nav class from nav tag to see the light version  */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: arial;
  }
  
  nav.nav.dark-nav {
    background-color: white !important;
  }
  .dark-nav .list > li > a {
    color: black !important;
  }
  
  .logo{
    margin:10px;
   
  }
  .container:after, .container:before {
    content: "";
    display: block;
    clear: both;
  }
  
  /* Start navbar */
  .nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ececec;
    min-height: 50px;
    height: 65px;
  }
  .nav .nav-heading {float: left}
  
  .nav .nav-heading .toggle-nav {
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    display: none;
    background-color: transparent;
  }
  .nav .nav-heading > a {
    text-decoration: none;
    color: #000;
    line-height: 60px;
    font-weight: 400;
    font-size: 19px;
  }
  
  /* Start menu */
  .nav .menu {
    float: right;
  }
  .nav .menu:after {
    content: "";
    clear: both;
    display: block;
  }
  .nav .list {
    float: right;
    margin: 0;
  }
  .nav .list > li {
    float: left;
    list-style: none;
  }
  .nav .list > li > a {
    color: #555;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 10px;
  }
  .nav .list > li > a:hover,
  .nav .list > li.active > a {
    color: #333
  }
  
  /* Start drodpwn menu */
  .categories {
    position: relative;
  }
  .nav .list .categories .drop-down {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF;
    border: 1px solid #ccc;
    padding: 5px 0;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    z-index: 99999
  }
  .nav .list .drop-down > .seprator {
    height: 1px;
    width: 100%;
    margin: 9px 0;
    background-color: #e5e5e5
  }
  .drop-down > li > a {
    color: #333;
    display: block;
    padding: 3px 20px;
    text-decoration: none;
  }
  .show {
    display: block
  }
  
  /* Sub dropdown menu */
  .categories .drop-down .sub-drop-down {position: relative}
  .categories .drop-down .sub-drop-down:hover .sub-dropdown {
    display: block;
  }
  .categories .drop-down .sub-dropdown {
    position: absolute;
    top: -20px;
    left: 107%;
    list-style: none;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
  }
  .categories .drop-down .sub-dropdown:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -20px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #cccccc
  }
  .categories .drop-down .sub-dropdown > li > a {
    color: #555;
    padding: 5px 0;
    display: block
  }
  /* End sub dropdown menu */
  /* Dark theme */
  .dark-nav {background-color: #2f3340}
  
  .dark-nav .list > li > a {color: #BBB}
  
  .dark-nav .list > li > a:hover,
  .dark-nav .list > li.active > a {color: #FFF}
  
  .dark-nav .nav-heading > a {color: #EEE}
  
  .dark-nav .nav-heading .toggle-nav {color: #EEE}
  
  /* End Dark theme */
  
  /* Start media query for navbar */
  @media (max-width: 767px) {
    .nav .container {
      padding-right: 0;
      padding-left: 0;
    }
    .nav .nav-heading {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 1px solid #e7e7e7
    }
    .nav .nav-heading .brand {float: left}
  
    .nav .nav-heading .toggle-nav {
      display: block;
      float: right;
      margin-top: 14px;
    }
  
    .nav .menu {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      display: none;
    }
  
    .nav .list {
      float: none;
      width: 100%;
    }
    .nav .list > li {
      float: none;
      width: 100%;
    }
    .nav .list > li > a {padding: 12px 0;line-height: 1}
  
    .nav .list .categories .drop-down {
      background-color: transparent;
      border: none;
      position: static;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0
    }
    .categories .drop-down .sub-dropdown {
      position: static;
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-left: 20px;
    }
    .categories .drop-down .sub-dropdown > li > a {
      color: #888;
    }
    .categories .drop-down .sub-dropdown:before {
      display: none
    }
    /* Simple reset for dark theme */
    .dark-nav .menu {background-color: #252831}
    .dark-nav .nav-heading {border-bottom-color: #31343c}
    .dark-nav .list .drop-down > li > a {color: #AAA}
    .dark-nav .list .categories .drop-down .seprator {background-color: #2a2d38}
  
  }

.no-touch .has-dropdown:hover>.mega-menu1 {
    height: auto;
    opacity: 1;
}

.mega-menu1 {
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    background-color: #333;
    font-size: 14px;
    line-height: normal;
    opacity: 0;
    }

ul li h6{
  color: white;
}


/*MOVIE CAROUSEL*/
/*! CSS Used from: Embedded */
section{display:block;}
a{background-color:transparent;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{border:0;padding:0;}
.row{margin-right:auto;margin-left:auto;max-width:1280px;}
.row:after,.row:before{display:block;visibility:hidden;overflow:hidden;width:0;height:0;content:"";font-size:0;line-height:0;}
.row:after{clear:both;}
.tablet-width-100{padding-right:10px;padding-left:10px;}
@media screen and (max-width:1024px){
.tablet-width-100{clear:both;width:100%;}
}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;}
button{font-size:inherit;font-family:inherit;line-height:inherit;}
button{border:none;}
a{color:#4aa7f6;}
.icon{display:inline-block;vertical-align:middle;font-size:0;direction:ltr;background-color:transparent;}
.heading-style-1{display:block;color:#4c4c4c;text-transform:uppercase;font-size:inherit;font-family:alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;}
.left{float:left;}
.right{float:right;}
.ad{overflow:hidden;text-align:center;}
/*! CSS Used from: https://images.fandango.com/fandango-www/screenplay/assets/stylesheets/bundles/global.d7904bba51a.css */
.row:after{clear:both;}
.left{float:left;}
section{display:block;}
a{background-color:transparent;text-decoration:none;color:#4AA7F6;-webkit-transition:color .3s linear;-moz-transition:color .3s linear;-o-transition:color .3s linear;transition:color .3s linear;}
a:active,a:hover{outline:0;}
.icon,img{vertical-align:middle;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;border:none;}
button{text-transform:none;}
.heading-style-1{text-transform:uppercase;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
.row{margin-right:auto;margin-left:auto;max-width:1280px;}
.row:after,.row:before{display:block;visibility:hidden;overflow:hidden;width:0;height:0;content:"";font-size:0;line-height:0;}
.tablet-width-100{padding-right:10px;padding-left:10px;}
@media screen and (max-width:1024px){
.tablet-width-100{clear:both;width:100%;}
}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{border:0;max-width:100%;}
ol{margin:0;padding:0;list-style-type:none;}
button{font-size:inherit;font-family:inherit;line-height:inherit;}
button:focus{outline:0;}
.no-touch a:hover{color:#0286F2;}
.icon{display:inline-block;}
.icon{font-size:0;direction:ltr;background-color:transparent;}
.heading-style-1{display:block;color:#4c4c4c;font-size:inherit;font-family:alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;}
.poster time{font-family:"Times New Roman",Times,Baskerville,Georgia,serif;}
.heading-size-s{font-size:18px;line-height:22px;}
.heading-style-1.heading-size-s{line-height:18px;}
.right{float:right;}
.visual-container{display:block;overflow:hidden;background-color:#000;}
.visual-thumb{display:block;width:100%;opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:opacity .25s,-webkit-transform .25s;-moz-transition:opacity .25s,-moz-transform .25s;-ms-transition:opacity .25s,-ms-transform .25s;-o-transition:opacity .25s,-o-transform .25s;transition:opacity .25s,transform .25s;}
.no-touch .visual-thumb:hover{opacity:.65;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.poster{position:relative;background-color:#FFF;}
.poster>div{padding:8px;}
.poster time{color:#929292;font-style:italic;font-size:14px;}
.poster-thumb-size-s{min-height:200px;width:131px;}
.poster.fluid>a{position:relative;z-index:0;display:block;overflow:hidden;padding-top:150%;}
.poster.fluid>a>img{position:absolute;top:0;height:100%;}
.no-touch .poster>div>a:hover{color:#222;}
.poster>div>a{overflow:hidden;max-height:50px;}
.poster-thumb-size-s{width:131px;height:200px;}
.layout-content-sidebar>.sidebar>.ad{margin-bottom:20px;}
.layout-content-sidebar>.sidebar>.ad~.ad{margin-top:-20px;}
@media (min-width:1025px){
.layout-content-sidebar>.sidebar{width:330px;}
.layout-content-sidebar>.sidebar+.content{margin-right:330px;}
}
.style-none{background-color:transparent;}
.carousel,.carousel-items{position:relative;}
.carousel{overflow:hidden;}
.carousel-items{left:0;white-space:nowrap;-webkit-transition:left none;-moz-transition:left none;-o-transition:left none;transition:left none;}
.carousel-items>li{display:inline-block;vertical-align:top;white-space:normal;}
.carousel-style-strip>.carousel-items{margin:0 43px;font-size:0;}
.carousel-style-strip>.carousel-items>li{padding-right:8px;font-size:14px;}
.carousel-style-strip>.left.icon,.carousel-style-strip>.right.icon{background-color:#fff;position:absolute;top:0;margin:auto;outline:0;width:43px;height:100%;font-size:0;z-index:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.carousel-style-strip>.left.icon:after,.carousel-style-strip>.left.icon:before,.carousel-style-strip>.right.icon:after,.carousel-style-strip>.right.icon:before{position:absolute;width:20px;height:40px;display:block;margin:auto;top:0;bottom:0;content:"";}
.carousel-style-strip>.left.icon{border-right:5px solid #ebebeb;}
.carousel-style-strip>.right.icon{border-left:5px solid #ebebeb;}
.carousel-style-strip>.left.icon:before{border-radius:0 40px 40px 0;background:#ebebeb;left:0;}
.carousel-style-strip>.left.icon:after{left:0;opacity:.8;background:url(//images.fandango.com/fandango-www/screenplay/assets/images/desktop/icons/global/left-arrow.svg) 1px center no-repeat;}
.carousel-style-strip>.right.icon:before{border-radius:40px 0 0 40px;background:#ebebeb;right:0;}
.carousel-style-strip>.right.icon:after{right:0;opacity:.8;background:url(//images.fandango.com/fandango-www/screenplay/assets/images/desktop/icons/global/right-arrow.svg) 9px center no-repeat;}
.carousel-style-strip>.left.icon:hover:after,.carousel-style-strip>.right.icon:hover:after{opacity:1;}
.carousel-style-strip>.right{right:0;}
.carousel-style-strip{padding:0;background-color:transparent;}
.carousel-style-strip>.carousel-items>li>.poster{width:126px;height:254px;}
.carousel-style-strip>.carousel-items>li>.poster .heading-style-1{margin-bottom:2px;max-height:35px;font-size:20px;}
.ad{text-align:center;}
.ad{overflow:hidden;}
.ad>div{position:relative;z-index:0;margin:auto;}
/*! CSS Used from: https://images.fandango.com/fandango-www/screenplay/assets/stylesheets/bundles/desktop-home.c5f8c7bb516.css */
.carousel-style-strip>.carousel-items>li>.poster .heading-style-1.heading__movie-carousel{height:auto;}
@media (min-width:768px){
.homeMovieCarousel--ad-wrapper{padding-top:5px;}
}
.home-module{margin-bottom:20px;}
/*! CSS Used fontfaces */
@font-face{font-family:alternate-gothic-no-1-d;src:url(https://fonts.fandango.com/k/6e63e4f0cb015ec0b6c558f22747e9feed932a9f-l.woff2) format("woff2"),url(https://fonts.fandango.com/k/6e63e4f0cb015ec0b6c558f22747e9feed932a9f-d.woff) format("woff"),url(https://fonts.fandango.com/k/6e63e4f0cb015ec0b6c558f22747e9feed932a9f-a.otf) format("opentype");font-weight:400;font-style:normal;}
